<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${watermelonID}"></td>
        <td th:text="${watermelon}"></td>
        <td th:text="${watermelonPrice}"></td>
    </tr>
    <tr>
        <td th:text="${strawberryID}"></td>
        <td th:text="${strawberry}"></td>
        <td th:text="${strawberryPrice}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>